<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username", name="username">
        <br><br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="write your post"></textarea>
        <br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>